* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightblue;
}

h1 {
    text-align: center;
    font-size: 4.5rem;
    color: #333;
    margin: 2.5rem 2.5rem 1rem 2.5rem;
    font-weight: bolder;
}

main {
    width: auto;
    height: 73vh;
    margin-left: 7rem;
    margin-right: 7rem;
    display: flex;
    justify-content: start;
    /* gap: 10rem; */
}

.side-bar {
    height: 100%;
    width: 21rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: lightblue;
}

.grid {
    background-color: whitesmoke;
    width: 40rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: grid;
}

.color-selector {
    width: 6rem;
    height: 6rem;
    border-color: black;
    color: black;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    transition: 0.1s ease-in;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    transition: 0.1s ease-in;
}

input[type="color"]::-webkit-color-swatch, input[type="color"]::-webkit-color-swatch-wrapper:hover {
    transform: scale(1.1);
}

.side-bar-options {
    width: 14rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 8px;
    font-weight: bold;
    color: #333;
    border: 1px solid #333;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.side-bar-options:hover {
    transform: scale(1.1);
    /* background-color: #333;
    color: white; */
}

.container {
    width: 13rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container label {
    font-size: 1.25rem;
    text-align: center;
    color: #333;
}